* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.top {
    height: 1024px;
    background-image: url(img/top_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top__content {
    padding-top: 217px; 
}
.top__title {
    
    width: 788px;
    color: #FFF;
font-size: 64px;
font-style: normal;
line-height: normal;
}
.top__text {
    margin-top: 32px;
    width: 481px;
    color: #FFF;
    
    font-size: 18px;
    font-style: normal;
    
    line-height: 32px;
}
.top__text_font {
    font-weight: bold;
}

.top__text_font:hover {
    cursor: pointer;
    }

.top__button {
    margin-top: 44px;
    width: 234px;
height: 49px;
border-radius: 30px;
background: #9C0332;
box-sizing: border-box;
color: #FFF;
}

.top__button:hover {
background: #EB443F;
cursor: url(img/clarity_cursor-hand-line.svg), pointer;
}
.games {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #000915;
}
.games__content {
        display: flex;
        justify-content: space-between;
    gap: 32px;
}
.games__button1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 379px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game1.jpg), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    box-sizing:border-box;
    
}
.games__button1:hover {
    border: 3px solid #44D2FF;
    cursor: url(img/clarity_cursor-hand-line.svg), pointer;
}
  
.games__button2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 379px;
    height: 300px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game2.jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    box-sizing:border-box;
}
.games__button2:hover {
    border: 3px solid #44D2FF;
    cursor: url(img/clarity_cursor-hand-line.svg), pointer;
  }

.games__button3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 379px;
    height: 300px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game3.jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    box-sizing:border-box;
}
.games__button3:hover {
    border: 3px solid #44D2FF;
    cursor: url(img/clarity_cursor-hand-line.svg), pointer;
  }

.games__button_text {
    margin-left: 32px;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 24px;
    line-height: 32px;
}
.games__button_text:hover {
    cursor: url(img/clarity_cursor-hand-line.svg), pointer;
    }

.seasons {
    padding-top: 237px;
    padding-bottom: 128px;
    background-color: #000915;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.seasons__content {
    padding-top: 46px;

}
.seasons__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.seasons__text {
    margin-top: 35px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}
.seasons__button {
    margin-top: 31px;
    width: 234px;
height: 49px;
border-radius: 30px;
background: #9C0332;
box-sizing: border-box;
color: #FFF;
}

.seasons__button:hover {
background: #EB443F;
cursor: url(img/clarity_cursor-hand-line.svg), pointer;
}

.seasons__picture {

}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }
      .top {
        height: 735px;
        width: 581px;
      }
      .top__content {
        padding-top: 1px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 32px;
      }
      .top__title {
        margin-top: 200px;
        width: 343px;
        text-align: center;
        font-size: 32px;
      }
      .top__text {
        margin-top: 0px;
        width: 343px;
        text-align: center;
        font-size: 14px;
      }
      .top__button {
        margin-top: 0px;
      }
      .games {
        padding-bottom: 0px;
      }
      .games__content {
        flex-wrap: wrap;
      }
      .seasons {
        padding-top: 127px;
        gap: 64px;
      }
      .seasons__content {
        padding-top: 0px;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
        }
      .seasons__title {
        margin-top: 0px;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        line-height: normal;
        }
      .seasons__text {
        margin-top: 0px;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      line-height: 22px;
       }
       .seasons__button {
        margin-top: 0px;
       }
       .seasons__img {
        width: 344px;
       }
}